* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 1920px;
    height: 698px;
    background: url("../img/background%20image%20copy.png");
}
nav {
    background-color: rgba(255, 255, 255, 0.23);
    width: 1920px;
    height: 88px;
}
.section1_logo {
    width: 117px;
    height: 28px;
    margin-left: 409px;
    padding-top: 30px;
}
.section1_menu1 {
    width: 814px;
    height: 12px;
    margin-left: 560px;
    margin-top: -25px;

}
.section1_menu1 a {
    margin-right: 15px;
    font-family: Raleway;
    color: #9daeb6;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}
.btn_call {
    border-radius: 8px;
    border-width: 3px;
    border-color: #36aeea;
    border-style: solid;
    background: none;
    width: 147px;
    height: 40px;
    font-family: Raleway;
    color: #36aeea;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-left: 1350px;
    margin-top: -30px;

}
.section1_frame {
    border-width: 3px;
    border-color: #ffffff;
    border-style: solid;
    width: 1129px;
    height: 318px;
    margin-left: 410px;
    margin-top: 130px;
}
.section1_text {
    width: 485px;
    height: 250;
    margin-left: 50px;
    margin-top: 22px;
}
.section1_travel {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}
.section1_mountains {
    font-family: Pacifico;
    color:  #56c7ff;
    font-size: 66px;
    font-weight: 400;
    line-height: 40.01px;
    text-align: left;
}
.section1_info {
    font-family: Raleway;
    color: #dcdcdc;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
}
.section1_ORDER {
    border-radius: 10px;
    background-color: #36aeea;
    box-shadow: 0px 0px 35px 0px rgba(3, 3, 3, 0.06);
    width: 250px;
    height: 60px;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
}
.section2 {

    background-color: #f6f4f4;
    width: 1920px;
    height: 667px;

}
.section2_vector {
    background: url("../img/Vector%20Smart%20Object.png");
    width: 1154px;
    height: 528px;

    margin-left: 500px;
}
.section2_img1 {

    background: url("../img/Curves%203.png");
    width: 806px;
    height: 570px;
    margin-left: 950px;
    margin-top: -600px;
}
.section2_img2 {
    background: url("../img/z.png");
    width: 350px;
    height: 350px;
    margin-left: 850px;
    margin-top: -270px;

}
.section2_info {
    width: 380px;
    height: 200px;
    margin-left: 390px;
    margin-top: -350px;
}
.section2_about {
    font-family: Raleway;
    color: #131518;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    transform: scaleY(1.0041);
}
.section2_info2 {
    font-family: Raleway;
    color: #949494;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}
.section2_read {
    border-radius: 8px;
    background-color: #36aeea;
    width: 130px;
    height: 40px;
    font-family: Raleway;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    transform: scaleY(1.0041);
}
.section3 {
    /*background-color: #1b6d85;*/
    width: 1920px;
    height: 950px;
}
.section3_info {
    padding-top: 45px;
}
.section3_info p {
    font-family: Raleway;
    color: #2c2e37;
    font-size: 29.88px;
    font-weight: 700;
    text-align: center;

}
.section3_journal {

    box-shadow: 0px 0px 40px 0px rgba(6, 6, 6, 0.13);
    width: 1139px;
    height: 759px;
    margin-top: 50px;
    margin-left: 400px;
}
.section3_sec1_img1 {
    position: relative;
    background: url("../img/Layer%2050.png");
    width: 380px;
    height: 380px;
}
.section3_sec1_logo {
    width: 80px;
    height: 80px;
    margin-left: 150px;
    padding-top: 150px;
}
.section3_sec2 {
    position: relative;
    width: 390px;
    height: 380px;
    background: url("../img/Background.png");
    margin-top: -380px;
    margin-left: 370px;
}
.section3_sec2_love {
    font-family: Raleway;
    color: #15b5ef;
    font-size: 10px;
    font-weight: 700;

    text-align: center;
    transform: scaleY(1.0009);
    padding-top: 10px;
}
.section3_sec2_text1{
    font-family: Raleway;
    color: #212121;
    font-size: 25.14px;
    font-weight: 700;

    text-align: center;
    transform: scaleY(1.0009);
    width: 319px;
    padding-left: 45px;
    padding-top: 20px;
}
.section3_sec2_text2 {
    font-family: Raleway;
    color: #777777;
    font-size: 13.99px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    transform: scaleY(1.0009);
    width: 268px;
    padding-left: 65px;
    padding-top: 20px;
}
.section3_sec2_text3 {
    font-family: 'Times New Roman';
    color: #212121;
    font-size: 13.99px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    transform: scaleY(1.0009);
    padding-top: 30px;
}
.section3_sec3_img2 {
    background: url("../img/Layer%2049.png");
    width: 380px;
    height: 380px;
    margin-top: -380px;
    margin-left: 760px;
}
.section3_sec3_logo {
    width: 80px;
    height: 80px;
    margin-left: 150px;
    padding-top: 150px;
}
.section3_sec4 {
    position: relative;
    width: 389px;
    height: 379px;
    background: url("../img/Background%20(1).png");

}
.section3_sec4_tree {
    font-family: Raleway;
    color: #0083b3;
    font-size: 10.99px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    /*line-height: 13.2px; !* Приближение из-за подстановки шрифтов *!*/
    text-align: center;
    transform: scaleY(1.0009); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    padding-top: 10px;
}
.section3_sec4_text1 {
    font-family: Raleway;
    color: #212121;
    font-size: 25.14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    transform: scaleY(1.0009); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    width: 319px;
    padding-left: 45px;
    padding-top: 20px;
}
.section3_sec4_text2 {
    font-family: Raleway;
    color: #777777;
    font-size: 13.99px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleY(1.0009); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    width: 268px;
    padding-left: 65px;
    padding-top: 20px;
}
.section3_sec4_text3{
    font-family: 'Times New Roman';
    color: #212121;
    font-size: 13.99px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    transform: scaleY(1.0009); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    padding-top: 30px;
}
.section3_sec5_img2 {
    background: url("../img/e_z.png");
    width: 380px;
    height: 379px;
    margin-left: 381px;
    margin-top: -380px;
}
.section3_sec5_logo {
    width: 80px;
    height: 80px;
    margin-left: 150px;
    padding-top: 150px;
}
.section3_sec6 {
    position: relative;
    width: 380px;
    height: 390px;
    background: url("../img/Background%20(2).png");
    margin-left: 760px;
    margin-top: -390px;
}
.section3_sec6_WATER {
    font-family: Raleway;
    color: #0083b3;
    font-size: 10.99px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    /*line-height: 13.2px; !* Приближение из-за подстановки шрифтов *!*/
    text-align: center;
    transform: scaleY(1.0009); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    padding-top: 20px;
}
.section3_sec6_text1 {
    font-family: Raleway;
    color: #212121;
    font-size: 25.14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    /*line-height: 25.5px; !* Приближение из-за подстановки шрифтов *!*/
    text-align: center;
    transform: scaleY(1.0009); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    width: 319px;
    padding-left: 45px;
    padding-top: 20px;
}
.section3_sec6_text2 {
    font-family: Raleway;
    color: #777777;
    font-size: 13.99px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleY(1.0009); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    width: 268px;
    padding-left: 65px;
    padding-top: 20px;
}
.section3_sec6_text3 {
    font-family: 'Times New Roman';
    color: #212121;
    font-size: 13.99px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    transform: scaleY(1.0009); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    padding-top: 60px;
}
.section4 {
    position: relative;
    background-color: #f6f4f4;
    width: 1920px;
    height: 650px;
    background: url("../img/Layer%2010.png");
}
.section4_mount {

    width: 389px;
    height: 188px;
    margin-left: 1530px;


}
.section4_tree {
    width: 573px;
    height: 622px;
    margin-left: 1100px;
    margin-top: -160px;
}
.section4_info {
    width: 855px;
    height: 250px;
    margin-left: 350px;
    margin-top: -500px;
}
.section4_text1 {
    font-family: Raleway;
    color: #2c2e37;
    font-size: 19.92px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
}
.section4_text2 {
    width: 702px;
    font-family: Raleway;
    color: #949494;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.section4_form_input{
    box-shadow:#36aeea;
    border-radius: 8px;
    background-color: #ffffff;
    width: 200px;
    height: 62px;
}
.btn_ordernow {
    border-radius: 5px;
    background-color: #36aeea;
    width: 225px;
    height: 62px;
    font-family: Raleway;
    color: #ffffff;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}
.section4_text3 {
    font-family: OpenSans;
    color: #36aeea;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 34px; /* Приближение из-за подстановки шрифтов */
    text-align: justify;
}
.section5{
    background-color: white;
    width: 1920px;
    height: 750px;
}
.section5_info {
    padding-top: 55px;
    font-family: Raleway;
    color: #2c2e37;
    font-size: 29.88px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 50px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleY(1.0041); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}
.section5_1 {
    border-radius: 50%;
    border-width: 3px;
    border-color: #36aeea;
    border-style: solid;
    background-color: #ffffff;
    width: 42px;
    height: 42px;
    font-family: Roboto;
    color: #3bb0eb;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 50px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-left: 450px;
    margin-top: 50px;
}
.section5_2 {
    border-radius: 50%;
    border-width: 3px;
    border-color: #36aeea;
    border-style: solid;
    background-color: #ffffff;
    width: 42px;
    height: 42px;
    font-family: Roboto;
    color: #3bb0eb;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 50px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-left: 750px;
    margin-top: -47px;
}
.section5_3 {
    border-radius: 50%;
    border-width: 3px;
    border-color: #36aeea;
    border-style: solid;
    background-color: #ffffff;
    width: 42px;
    height: 42px;
    font-family: Roboto;
    color: #3bb0eb;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 50px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-left: 1100px;
    margin-top: -47px;
}
.section5_4 {
    border-radius: 50%;
    border-width: 3px;
    border-color: #36aeea;
    border-style: solid;
    background-color: #ffffff;
    width: 42px;
    height: 42px;
    font-family: Roboto;
    color: #3bb0eb;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 50px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-left: 1400px;
    margin-top: -47px;
}
.section5_logo1 {
    background: url("../img/1.png");
    width: 200px;
    height: 180px;
    margin-left: 375px;
    margin-top: 50px;
}
.section5_logo2 {
    background: url("../img/2.png");
    width: 200px;
    height: 180px;
    margin-left: 680px;
    margin-top: -180px;
}
.section5_logo3 {
    background: url("../img/3.png");
    width: 200px;
    height: 180px;
    margin-left: 1025px;
    margin-top: -180px;
}
.section5_logo4 {
    background: url("../img/4.png");
    width: 200px;
    height: 180px;
    margin-left: 1330px;
    margin-top: -180px;
}
.section5_text1 {
    width: 210px;
    height: 86px;
    font-family: Roboto;
    color: #949494;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-left: 370px;
    margin-top: 50px;
}
.section5_text1 b {
    font-family: Roboto;
    color: black;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.section5_text2 {
    width: 210px;
    height: 86px;
    font-family: Roboto;
    color: #949494;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-left: 680px;
    margin-top: -86px;
}
.section5_text2 b {
    font-family: Roboto;
    color: black;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.section5_text3 {
    width: 210px;
    height: 86px;
    font-family: Roboto;
    color: #949494;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-left: 1025px;
    margin-top: -86px;
}
.section5_text3 b {
    font-family: Roboto;
    color: black;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.section5_text4 {
    width: 210px;
    height: 86px;
    font-family: Roboto;
    color: #949494;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-left: 1325px;
    margin-top: -86px;
}
.section5_text4 b {
    font-family: Roboto;
    color: black;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.section6 {
    background-color: white;
    width: 1920px;
    height: 1000px;
}
.section6_1 {
    padding-top: 200px;
}
.section6_2 {
    margin-top: -1000px;
    margin-left: 350px;
}
.section6_name {
    font-family: Raleway;
    color: #2c2e37;
    font-size: 29.88px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 50px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleY(1.0041); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    margin-top: -500px;
}
.section6_Carpathian {
    width: 200px;
    height: 382px;
    margin-top: 50px;
    margin-left: 260px;
}
.section6_Alps {
    width: 200px;
    height: 382px;
    margin-top: -382px;
    margin-left: 560px;
}
.section6_Pyrenees {
    width: 200px;
    height: 382px;
    margin-top: -382px;
    margin-left: 860px;
}
.section6_Rocky {
    width: 200px;
    height: 382px;
    margin-top: -382px;
    margin-left: 1160px;
}
.section6_Kavkaz{
    width: 200px;
    height: 382px;
    margin-top: -382px;
    margin-left: 1460px;
}
.section7{
    width: 1920px;
    height: 800px;
    background-color: rgba(250, 250, 250, 0.6)
}
.section7_name {
    font-family: Roboto;
    color: #2c2e37;
    font-size: 29.88px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 50px; /* Приближение из-за подстановки шрифтов */
    transform: scaleY(1.0041); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    padding-top: 30px;
    margin-left: 880px;
}
.section7_photo1 {
    width: 263px;
    height: 344px;
    margin-left: 400px;
    margin-top: 10px;
}
.section7_photo2 {
    width: 263px;
    height: 282px;
    margin-left: 400px;
    margin-top: 20px;
}
.section7_photo3 {
    margin-left: 700px;
    margin-top: -378px;
}
.section7_photo4 {
    width: 361px;
    height: 243px;
    margin-left: 700px;
    margin-top: -650px;
}
.section7_photo5 {
    width: 457px;
    height: 343px;
    margin-left: 1100px;
    margin-top: -244px;
}
.section7_photo6 {
    width: 455px;
    height: 281px;
    margin-left: 1100px;
    margin-top: 22px;
}
.section8 {
    background-color: #f8f9fa;
    width: 1920px;
    height: 180px;
}
.section8 img {
    width: 1540px;
    height: 50px;
    margin-left: 150px;
    margin-top: 60px;

}
.section9{
    background-color: rgba(250, 250, 250, 0.61);
    width: 1920px;
    height: 550px;
}
.section9_name {
    font-family: Raleway;
    color: #2c2e37;
    font-size: 29.88px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 50px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleY(1.0041); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    padding-top: 50px;
}
.section9_say1{
    width: 530px;
    height: 240px;
    margin-left: 380px;
    margin-top: 60px;
}
.section9_say_s {
    font-family: Raleway;
    color: #bcbcbc;
    font-size: 92px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 33px; /* Приближение из-за подстановки шрифтов */
    text-align: justify;
}
.section9_say1_1{
    font-family: Raleway;
    color: #bcbcbc;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 33px; /* Приближение из-за подстановки шрифтов */
    text-align: justify;
}
.section9_say1_photo {
    width: 65px;
    height: 65px;
}
.section9_say1_photo_name{
    margin-top: -50px;
    margin-left: 90px;
    font-family: Raleway;
    color: #36aeea;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    line-height: 33px; /* Приближение из-за подстановки шрифтов */
    text-align: justify;
}
.section9_say2{
    width: 530px;
    height: 240px;
    margin-top: -240px;
    margin-left: 1000px;
}
.section9_say1_2 {
    font-family: Raleway;
    color: #bcbcbc;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 33px; /* Приближение из-за подстановки шрифтов */
    text-align: justify;
}
.section10{
    width: 1920px;
    height: 840px;
}
.section10_phon_form{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.18);
    box-shadow: 2px 4px 51px 0px rgba(0, 0, 0, 0.75);
    width: 514px;
    height: 480px;
    margin-top: -680px;
    margin-left: 700px;
}
.section10_contact{
    font-family: Raleway;
    color:  #36aeea;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    margin-top: -480px;
}
.section10_contact_info {
    font-family: OpenSans;
    color:  #383e4a;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 29px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.section10_form_name{
    border-radius: 8px;
    border-width: 3px;
    border-color: #ffffff;
    border-style: solid;
    background-color: #ffffff;
    width: 448px;
    height: 54px;
    font-family: Roboto;
    color: #cccccc;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    margin-left: 30px;
}
.section10_form_tel{
    border-radius: 8px;
    border-width: 3px;
    border-color: #ffffff;
    border-style: solid;
    background-color: #ffffff;
    width: 448px;
    height: 54px;
    font-family: Roboto;
    color: #cccccc;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    margin-left: 30px;
}
.section10_form_e-mail{
    border-radius: 8px;
    border-width: 3px;
    border-color: #ffffff;
    border-style: solid;
    background-color: #ffffff;
    width: 448px;
    height: 54px;
    font-family: Roboto;
    color: #cccccc;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    margin-left: 30px;
}
.section10_form_send{
    border-radius: 8px;
    background-color: #36aeea;
    width: 454px;
    height: 70px;
    font-family: Raleway;
    color: #ffffff;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    margin-left: 30px;
}
.section11 iframe {
    width: 1920px;
    height: 500px;
    border: none;
}
footer {
    width: 1920px;
    height: 70px;
    background-color: rgb(63, 100, 109);
}
.section12_info{

    margin-left: -1650px;
    font-family: OpenSans;
    color: rgb(126, 194, 214);
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
}

.section12_twitter {
    margin-left: 890px;
}
.section12_facebook {
    margin-top: -44px;
    margin-left: 940px;
}
.section12_vk {
    margin-top: -43px;
    margin-left: 990px;
}
.section12_tel {
    margin-top: -40px;
    margin-left: 1650px;
    font-family: Roboto;
    color: rgb(126, 194, 214);
    font-size: 27px; /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
}